
<!-- Events -->
<div class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="m-0 text-center">Commandez&nbsp; nos plats</p>
        <h2 class="mb-4 text-primary text-center">Votre sélection</h2>
        <div class="row">
          <div class="col-md-4 p-3">
            <img class="img-fluid d-block w-100 mb-3" src="../../assets/images/restaurant/event_1_light.jpg">
            <p class="lead text-muted mb-1">26th July, 2017</p>
            <h5 class="text-dark"><b>Oyster &amp; champagne night</b></h5>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <a href="#" class="btn btn-outline-primary"><b class="">Commander</b></a>
          </div>
          <div class="col-md-4 p-3">
            <img class="img-fluid d-block w-100 mb-3" src="../../assets/images//restaurant/event_2_light.jpg">
            <p class="lead text-muted mb-1">30th August, 2017</p>
            <h5 class=""><b>Nina Krichko Acoustic Live</b></h5>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            <a href="#" class="btn btn-outline-primary"><b class="">Commander</b></a>
          </div>
          <div class="col-md-4 p-3">
            <img class="img-fluid d-block w-100 mb-3" src="../../assets/images/restaurant/event_3_light.jpg">
            <p class="lead text-muted mb-1">1st October, 2017 </p>
            <h5 class=""><b>Infusion tasting &nbsp;</b></h5>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sut labore et dolore magna.</p>
            <a href="#" class="btn btn-outline-primary"><b class="">Commander</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading">Your profile</h1>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full name</label>
          <p class="form-control-static">{{ details?.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ details?.email }}</p>
        </div>
      </div>

    </div>

  </div>
</div>
