<div class="py-5 text-center" >
    <div class="container">
        <div class="row">
            <div class="mx-auto p-4 col-lg-7">
                <h1 class="mb-4">Ajouter un plat</h1>
                <form (submit)="enregistrer()">
                    
                    <div class="form-group"> <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" [(ngModel)]="platVariable.nom"> </div>
                    <div class="form-group"> <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description" [(ngModel)]="platVariable.description"></textarea> </div> 

                    <div class="form-group"> 
                        <label>Prix de vente</label>
                        <input type="text" class="form-control" id="pdv" name="pdv" placeholder="Prix de vente" [(ngModel)]="platVariable.prixDeVente.$numberDecimal"> </div>
                    <div class="form-group">                         
                        <label>Prix de revient</label>
                        <input type="text" class="form-control" id="pdr" name="pdr" placeholder="Prix de revient" [(ngModel)]="platVariable.prixDeRevient.$numberDecimal"> </div>
                    <div class="form-group"> 
                    <select [(ngModel)]='platVariable.statutDisponibilite' name="dropdownOption" id="dropdownOption" class='form-control'>
                        <option *ngFor="let statut of status" [ngValue]="statut">
                            {{statut}}
                        </option>
                    </select>
                </div>
                <div class="form-group"> <input type="file" class="form-control" id="imagePath" name="imagePath" placeholder="Image Path" (change)="onFileSelected($event)"> </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>
<app-product-plat></app-product-plat>