  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table text-center">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th class="text-center">
                  <h3> Standard {{commande._id}} </h3>
                  <h2> <b>15$</b> </h2> <a class="btn btn-link" href="#">Start now</a>
                </th>
                <th class="text-center">
                  <h3> Pro </h3>
                  <h2> <b>49$</b> </h2> <a class="btn btn-primary" href="#">Start now</a>
                </th>
                <th class="text-center">
                  <h3> Ultimate </h3>
                  <h2> <b>99$</b> </h2> <a class="btn btn-link" href="#">Contact us</a>
                </th>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>Small business and startups</td>
                <td>Growing activities</td>
                <td>Big firms and companies</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>One</td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
              </tr>
              <tr>
                <td>Two</td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
              </tr>
              <tr>
                <td>Three</td>
                <td></td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
              </tr>
              <tr>
                <td>Four</td>
                <td></td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
              </tr>
              <tr>
                <td>Five</td>
                <td></td>
                <td></td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
              </tr>
              <tr>
                <td>Six</td>
                <td></td>
                <td></td>
                <td> <i class="fa fa-check fa-lg text-muted"></i> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>