  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table text-center table-hover">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th class="text-center">
                  <b>Statut Commande</b> 
                </th>
                <th class="text-center">
                  <b>Prix</b> 
                </th>
                <th class="text-center">
                  <b>Restaurant</b> 
                </th>
                <th class="text-center">
                  <b>Date</b> 
                </th>
                <th class="text-center">
                  <b>Validation</b> 
                </th>
                <th class="text-center">
                  <b>Suppression</b> 
                </th>
              </tr>              
            </thead>
            <tbody>
              <ng-container *ngFor="let commande of commandeRead">
                <tr>
                  <td><button class="btn btn-default btn-xs" (click)="commande.showRow = !commande.showRow"><i class="fa fa-eye fa-fw"></i></button></td>
                  <td *ngIf="commande.statut === 'validée'; else simpleStatut" style="color: green"><i class="fa fa-check-circle fa-fw"></i> {{commande.statut}}</td>
                  <ng-template #simpleStatut>
                    <td><i class="fa fa-pencil-square-o fa-fw"></i> {{commande.statut}}</td>
                  </ng-template>
                  <td>{{commande?.totalPrixDeVente?.toString() | currency: 'Ar '}}</td>
                  <td>{{commande?.idRestaurant?.nom}}</td>
                  <td>{{commande?.dateCommande | date:'dd/MM/yyy HH:mm'}}</td>
                  <td><button class="btn btn-default btn-xs" style="color: #12bbad" (click)="validateCommande(commande._id)"><i class="fa fa-check fa-fw"></i> Valider</button></td>
                  <td><button class="btn btn-default btn-xs" style="color: red" (click)="deleteCommande(commande._id)"><i class="fa fa-trash fa-fw"></i> Supprimer</button></td>
                </tr>
                <tr *ngIf="commande.showRow">
                  <td colspan="7">
                    <p>Liste des plats dans la commande choisie</p>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>&nbsp;</th>
                          <th class="text-center">
                            <b>Nom</b> 
                          </th>
                          <th class="text-center">
                            <b>Description</b> 
                          </th>
                          <th class="text-center">
                            <b>Prix</b> 
                          </th>
                        </tr>              
                      </thead>
                      <tbody>
                        <tr *ngFor="let plat of commande.listePlats">
                          <td><a (click)="deletePlatCommande(plat._id, commande._id)"><i class="fa fa-trash fa-fw" style="color:red; cursor: pointer;"></i></a></td>
                          <td>{{plat.nom}}</td> 
                          <td>{{plat.description}}</td>
                          <td>{{plat?.prixDeVente?.$numberDecimal?.toString() | currency: 'Ar '}}</td>
                        </tr>
                        <tr *ngIf="commande.listePlats?.length === 0">
                          <td colspan="4">Pas de donnée</td>
                        </tr>                         
                      </tbody>
                    </table>
                  </td>
                </tr>
              </ng-container>
            
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <!--<i class="fa fa-check fa-lg text-muted"></i> -->