<!-- Events  -->
<div  class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-4 text-primary text-center">Liste des plats</h1>        
        <p *ngIf="role.isNavAuthorised(['Client'])" class="m-0 text-center">Commandez&nbsp; vos plats ici</p>
        <div class="row">
          <div class="col-md-4 p-3" *ngFor="let plat of platListe">
            <img class="img-fluid d-block w-100 mb-3" src="{{plat.imagePath}}">
            <p class="lead text-muted mb-1">{{plat.prixDeVente.$numberDecimal | currency: 'Ar '}}</p>
            <h5 class="text-dark"><b>{{plat.nom}}</b></h5>
            <p class="mb-3">{{plat.description}}</p>

            <a *ngIf="role.isNavAuthorised(['Client'])" href="#" class="btn btn-outline-primary"><b class="">Commander</b></a>
            <a *ngIf="role.isNavAuthorised(['Restaurateur'])" href="/platManagement/{{plat._id}}" class="btn btn-outline-primary"><b class="">Modifier</b></a>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>