<div class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" >
        <h5 class="modal-title">Modal title</h5> <button type="button" class="close" data-dismiss="modal"> <span>×</span> </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer"> <button type="button" class="btn btn-primary">Save changes</button> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> </div>
    </div>
  </div>
</div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md bg-dark fixed-top">
    <div class="container"> <a class="navbar-brand" routerLink="/">
      <img src="favicon.ico" />
        <b>  E-kaly</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <ul class="navbar-nav mr-auto">
          <li *ngIf="role.isNavAuthorised(['Restaurateur'])" class="nav-item"> <a class="nav-link" routerLink="/restaurantAdmin">Gestion plats</a> </li>
          <li *ngIf="role.isNavAuthorised(['Restaurateur'])" class="nav-item"> <a class="nav-link" routerLink="/commandeManagement">Gestion commandes</a> </li>
          <li *ngIf="role.isNavAuthorised(['Restaurateur'])" class="nav-item"> <a class="nav-link" routerLink="/beneficeRestaurant">Bénéfices</a> </li>
          <li *ngIf="role.isNavAuthorised(['Restaurateur'])" class="nav-item"> <a class="nav-link" routerLink="/envoieMail">Envoi mail</a> </li>
          <li *ngIf="role.isNavAuthorised(['Ekaly'])" class="nav-item"> <a class="nav-link" routerLink="/beneficeEkaly">Bénéfices par restaurant par jour</a> </li>
          <li *ngIf="role.isNavAuthorised(['Ekaly'])" class="nav-item"> <a class="nav-link" routerLink="/commandeEkaly">Liste Commandes</a> </li>
          <li *ngIf="role.isNavAuthorised(['Ekaly'])" class="nav-item"> <a class="nav-link" routerLink="/restaurantManagement">Gestion restaurant</a> </li>
          <li *ngIf="role.isNavAuthorised(['Ekaly'])" class="nav-item"> <a class="nav-link" routerLink="/livreurManagement">Gestion livreur</a> </li>
          <app-profile *ngIf="role.isNavAuthorised(['Client'])"></app-profile>
          <!-- <li class="nav-item"> <a class="nav-link" href="#">Pricing</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">Product</a> </li>--> 
        </ul> 
        <ul class="navbar-nav ml-auto">
      <!--    <li class="nav-item"> <a class="nav-link" href="#">Services</a> </li>-->
          <li *ngIf="!auth.isLoggedIn()" class="nav-item">   <a class="btn btn-primary navbar-btn ml-md-2" routerLink="/login"><i class="fa fa-user-circle fa-fw" ></i> Se connecter</a></li>
          <li *ngIf="!auth.isLoggedIn()" class="nav-item">   <a class="btn btn-primary navbar-btn ml-md-2" routerLink="/register"><i class="fa fa-user fa-fw" ></i> S'enregistrer</a></li>
          <li *ngIf="auth.isLoggedIn()" class="nav-item">   <a class="btn btn-primary navbar-btn ml-md-2" (click)="auth.logout()"><i class="fa fa-sign-out fa-fw" ></i> Se déconnecter</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar-->

<router-outlet></router-outlet>

  <!-- Footer -->
  <div class="text-center bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-3">
          <h2 class="mb-4">Contact</h2>
          <p class="m-0">
            <a href="tel:+246 - 542 550 5462" class="text-white">+2</a>61 33 71 145 97</p>
          <p>
            <a href="mailto:info@pingendo.com" class="text-white">t</a>sikyandrianaivosu@gmail.com</p>
        </div>
        <div class="col-md-6 p-3">
          <h2 class="mb-4">M1 ITU&nbsp; P9&nbsp;</h2>
          <p>MEAN project&nbsp;</p>
          <p>Site web e-kaly</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-muted">© Tsiky ANDRIANAIVOSOA</p>
        </div>
      </div>
    </div>
  </div>
  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="./assets/js/smooth-scroll.js"></script>
  <!-- End Footer-->